<footer class="footer">
    <section class="third_section">
        <h2 class="contact">Contacto</h2>

        <div class="border"></div>
        <div class=contact_links>
            <a href="https://www.linkedin.com/in/denise-overbeck-troglio-37816868/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>


            <a href="https://github.com/denisetroglio" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <p class="location">Madrid - España | ©Denise Overbeck Troglio | Design: HTML 5</p>
    </section>


</footer>