<main class="main_page">

    <section class="first_section">
        <h2 class="about_me">Sobre mi</h2>

        <div class="border"></div>
        <img class="photo" id="one" src="./assets/images/denise.jpg">
        <p class="first_text">Soy Denise, front-end developer siempre en desarrollo. Pero antes de
            empezar
            a decirte cómo he llegado hasta aquí, voy a contarte un poquito sobre mi. Soy de Brasil, vivo en Madrid
            desde finales de 2019. Hasta ahí trabajaba como Executive Assistant. Tengo formación en gastronomía
            Portuguesa, de cuando viví por 1 año en Lisboa - Portugal (2018-2019). En 2020 empezé a tener un
            contacto más próximo con el área de IT. He hecho un curso en MTP (Digital Business Assurance) de Calidad
            de Software dónde he
            adquirido mi certificación ISTQB en Testes. Poco después deste curso, conocí Adalab por Linkedin y me
            interesé por el Bootcamp de desarrollo front-end de software; fue desde entonces donde me enamoré de la
            programación y sigo mi percurso hasta hoy.</p>

        <section class="skils">
            <h2 class="tech">Tecnologías</h2>
            <ul class="list_icons">
                <li><img class="icon1" src="./assets/images/vscode.png"></li>
                <li><img class="icon1" src="./assets/images/html.png"></li>
                <li><img class="icon1" src="./assets/images/css.png"></li>
                <li><img class="icon1" src="./assets/images/sass.png"></li>
                <li><img class="icon1" src="./assets/images/js.png"></li>
                <li><img class="icon1" src="./assets/images/react.png"></li>

                <li><img class="icon1" src="./assets/images/bd.png"></li>
                <li><img class="icon1" src="./assets/images/postman.png"></li>
                <li><img class="icon1" src="./assets/images/zeplin.png"></li>
                <li><img class="icon1" src="./assets/images/scrum.png"></li>
            </ul>


        </section>

        <section class="second_section">
            <h2 class="projects">Proyectos</h2>
            <div class="border"></div>
            <p class="second_text" id="two">Durante mi intenso percurso de 4 meses en el Bootcamp de Adalab, he
                aprendido a utilizar muchas herramientas cómo: VS Code, DevTools, Git, Zeplin, SQL, también a
                trabajar en equipo y en remoto.
                En este mi camino de la programación he desarrollado algunos proyectos, unos individuales y otros en
                equipo, todos desarrollados con la metodología Scrum.</p>
        </section>

        <section class="projects_adalab">
            <p class="paragraph01">
                Proyecto en equipo desarrollado con HTML, CSS y SASS:
            </p>
            <img class="team1" src="./assets/images/proyectogrupo.PNG">
            <section class="web">
                <a href="http://beta.adalab.es/project-promo-o-module-1-team-2/" target="_blank" class="web_1">Página
                    web |</a>
                <a href="https://github.com/Adalab/project-promo-o-module-1-team-2" target="_blank" class="repo_1">
                    Repositório Git</a>
            </section>

            <p class="paragraph02">
                Proyecto individual desarrollado con HTML, CSS y SASS:
            </p>
            <img class="project_dt" src="./assets/images/modulo_01_html_css_sass.PNG">
            <section class="web1">
                <a href="http://beta.adalab.es/modulo-1-evaluacion-final-denisetroglio/" target="_blank"
                    class="web_2">Página web |</a>
                <a href="https://github.com/Adalab/modulo-1-evaluacion-final-denisetroglio" target="_blank"
                    class="repo_1_1">
                    Repositório Git</a>
            </section>

            <p class="paragraph03">
                Proyecto en equipo desarrollado con JS y SASS:
            </p>
            <img class="project_gr" src="./assets/images/grupo_JS_1.PNG">
            <section class="web2">
                <a href="https://beta.adalab.es/project-promo-o-module-2-team-6/" target="_blank" class="web_3">Página
                    web |</a>
                <a href="https://github.com/Adalab/project-promo-o-module-2-team-6" target="_blank" class="repo_1_2">
                    Repositório Git</a>
            </section>

            <p class="paragraph04">
                Proyecto individual desarrollado con JS y SASS:
            </p>
            <img class="project_dt1" src="./assets/images/modulo_02_JS.PNG">
            <section class="web3">
                <a href="http://beta.adalab.es/modulo-2-evaluacion-intermedia-denisetroglio/" target="_blank"
                    class="web_4">Página web |</a>
                <a href="https://github.com/Adalab/modulo-2-evaluacion-intermedia-denisetroglio" target="_blank"
                    class="repo_1_3">
                    Repositório Git</a>
            </section>

            <p class="paragraph05">
                Proyecto individual desarrollado con REACT, HTML y CSS:
            </p>
            <img class="project_dt2" src="./assets/images/react1.PNG">
            <section class="web4">
                <a href="http://beta.adalab.es/modulo-3-evaluacion-final-denisetroglio/#/" target="_blank"
                    class="web_5">Página web |</a>
                <a href="https://github.com/Adalab/modulo-3-evaluacion-final-denisetroglio" target="_blank"
                    class="repo_1_4">
                    Repositório Git</a>
            </section>

        </section>


    </section>
</main>