.text {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  margin: 35px;
}

.menu {
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
  padding: 3px;
  text-align: center;
  align-items: center;
  font-weight: 300;
  margin: 40px;
}

.list {
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.55);
  position: relative;
  transition: color 0.2s ease-in-out;
}
.list:hover {
  background-color: transparent;
  opacity: 0.5;
  scroll-behavior: smooth;
}
.intro {
  background-image: url("../../images/intro.svg");
  color: white;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100vh;
}
.header {
  background: linear-gradient(#5e42a6, #772d7f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.material-icons {
  font-size: 5em;
  color: rgb(183, 78, 145);
  opacity: 0.4;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
