.text {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  margin: 35px;
}
.animate__fadeInDown{
   --animate-duration: 6s;
}
.animate__fadeInDown:hover{
  --animate-duration: 900ms;
  --animate-delay: 0.9s;
}
.line{
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  width: 300px;
  transform: translateY(-50px);
}
.menu {
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
  padding: 3px;
  text-align: center;
  align-items: center;
  font-weight: 300;
  margin: 40px;
}

.arrowdown {
  background-color: #801f4f;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.arrowdown:hover {
  background-color: transparent;
  opacity: 0.5;
  scroll-behavior: smooth;
}
.header {
  background: linear-gradient(#2c1a4d, #801f4f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
