.footer {
  background: linear-gradient(#2c1a4d, #801f4f);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 250px;
}
.icon_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(-40px);
}
.arrow{
  background-color: #801f4f;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.arrow:hover {
  background-color: transparent;
  opacity: 0.5;
  scroll-behavior: smooth;
}

.third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}
.contact_links {
  display: inline-block;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}
.fab {
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.4em;
  transition: all 300ms linear;
  margin-top: 15px;
  padding: 5px;
}
.fab:hover {
  position: relative;
  z-index: 1;
  color: #2c1a4d;
}
.location {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  transform: translateY(20px);
}
.fa {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
