.footer {
  background-color: rgb(73,51,130);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 250px;
}

.third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
.contact_links {
  display: inline-block;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}
.fab {
  color: white;
  font-size: 1.4em;
  transition: all 300ms linear;
  margin-top: 15px;
  padding: 5px;
}
.fab:hover {
  position: relative;
  z-index: 1;
  color: #772d7f;
}
.location {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  transform: translateY(20px);
}
