.first_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 78, 145);
}
.webadalab {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  transition: linear 1s color;
  font-weight: 400;
}
.webadalab:hover {
  text-decoration: underline;
  color: #109c8c;
}
.about_me {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}

.border {
  background: rgba(255, 255, 255, 0.55);
  display: inline-block;
  align-items: center;
  height: 1px;
  width: 6em;
  transform: translateY(-5px);
}
.border_tec {
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 6em;
  transform: translateY(-70px);
}

.first_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 300;
}

.photo {
  position: relative;
  width: 90%;
  height: 250px;
  margin: 15px;
  object-fit: cover;
  align-items: center;
}
.skils {
  background-color: rgb(73, 51, 130);
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tech {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
  margin: 15px;
  transform: translateY(-60px);
}

.list_icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.icon1 {
  height: 3em;
  line-height: 3em;
  width: 3em;
  margin: 18px;
}

.second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d214a;
  padding: 3px;
}

.projects {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}
.second_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.projects_adalab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d214a;
  padding: 3px;
}
.paragraph01 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.team1 {
  width: 100%;
  object-fit: cover;
  padding: 0.4rem;
}
.web {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.web_1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.web_1:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}

.repo_1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.repo_1:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.paragraph02 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_dt {
  width: 100%;
  object-fit: cover;
  padding: 0.4rem;
}
.web1 {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.web_2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.web_2:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.repo_1_1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.repo_1_1:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.paragraph03 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_gr {
  width: 100%;
  object-fit: cover;
  padding: 0.4rem;
}
.web2 {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.web_3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.web_3:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.repo_1_2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.repo_1_2:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.paragraph04 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_dt1 {
  width: 100%;
  object-fit: cover;
  padding: 0.4rem;
}
.web3 {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.web_4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.web_4:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.repo_1_3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.repo_1_3:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.paragraph05 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 15px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_dt2 {
  width: 100%;
  object-fit: cover;
  padding: 0.4rem;
}
.web4 {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.web_5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.web_5:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.repo_1_4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.repo_1_4:hover {
  position: relative;
  z-index: 1;
  color: #5ca0a9;
}
.html {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.css {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.sass {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.js {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.react {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.gith {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.database {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.vscode {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
