.first_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #160d27;
}
.webmtp{
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  transition: linear 1s color;
  font-weight: 400;
}
.webmtp:hover{
  text-decoration: underline;
  color: #004A6C;
}
.webadalab {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  transition: linear 1s color;
  font-weight: 400;
}
.webadalab:hover {
  text-decoration: underline;
  color: #109c8c;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #160d27;
}
.about_me {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  padding-top: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}

.border {
  background: rgba(255, 255, 255, 0.55);
  display: inline-block;
  align-items: center;
  height: 1px;
  width: 6em;
}
.border_tec {
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 6em;
  transform: translateY(-50px);
}
.border_p {
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 6em;
  transform: translateY(-20px);
}

.first_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 300;
  line-height: 1.7;
}

.photo {
  position: relative;
  width: 90%;
  height: 350px;
  margin: 15px;
  border-radius: 10px;
  object-fit: cover;
  align-items: center;
}
.skils {
  background-color: #561435;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tech {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
  margin: 15px;
  transform: translateY(-40px);
}
.list_icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
}
.second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #160d27;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  margin: 15px;
  color: rgba(255, 255, 255, 0.55);
}
.second_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.paragraph01 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(236, 231, 231, 0.55);
}
.team1 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 175px;
  border: solid 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.paragraph02 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_dt {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 175px;
  border: solid 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.paragraph03 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_gr {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 175px;
  border: solid 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.paragraph04 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}
.project_dt1 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 175px;
  border: solid 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.paragraph05 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 25px;
  text-align: justify;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
  padding-bottom: 60px;
}
.project_letter {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 175px;
  border: solid 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.html {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.css {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.sass {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.js {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.react {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.gith {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.database {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}
.vscode {
  height: 2em;
  line-height: 2em;
  width: 2em;
  margin: 5px;
}

@media all and(min-width:768px) {
  .about_me {
    font-size: 20px;
  }
  .photo {
    height: 680px;
  }
  .first_text {
    font-size: 20px;
    margin: 20px;
  }
  .tech {
    font-size: 20px;
  }
  .skils {
    height: 220px;
  }
  .vscode {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .html {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .css {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .sass {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .js {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .react {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .database {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .gith {
    height: 3em;
    line-height: 3em;
    width: 3em;
    margin: 10px;
  }
  .projects {
    font-size: 20px;
  }
  .second_text {
    font-size: 20px;
    margin: 20px;
    line-height: 1.7;
  }
  .paragraph01 {
    font-size: 20px;
    margin: 20px;
    text-align: left;
  }
  .team1 {
    width: 300px;
    height: 400px;
  }

  .paragraph02 {
    font-size: 20px;
    margin: 20px;
    text-align: right;
  }
  .project_dt {
    width: 300px;
    height: 400px;
  }
  .paragraph03 {
    font-size: 20px;
    margin: 20px;
    text-align: left;
  }
  .project_gr {
    width: 300px;
    height: 400px;
  }
  .paragraph04 {
    font-size: 20px;
    margin: 20px;
    text-align: right;
  }
  .project_dt1 {
    width: 300px;
    height: 400px;
  }
  .project_dt2 {
    width: 300px;
    height: 400px;
  }
  .paragraph05 {
    font-size: 20px;
    margin: 20px;
    text-align: left;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 16px 44px 35px 45px;
  }

  .left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: right;
    padding: 16px 44px 35px 31px;
  }
}

@media all and(min-width:1200px) {
  .first_section {
    flex-direction: row;
    height: 100vh;
  }
  .photo {
    height: 420px;
    margin-left: 25px;
  }
  .first_text {
    margin: 50px;
    word-spacing: 2px;
  }
  .paragraph01 {
    margin-right: 400px;
    text-align: justify;
  }
  .paragraph02 {
    margin-left: 400px;
    text-align: justify;
  }
  .paragraph03 {
    margin-right: 400px;
    text-align: justify;
  }
  .paragraph04 {
    margin-left: 400px;
    text-align: justify;
  }
  .paragraph05 {
    margin-right: 400px;
    text-align: justify;
  }
}
